body{
    background-color: #c6dabf;
    font-family: 'Open Sans', sans-serif;
    
}
h1{
    color: white;
}

@media only screen and (max-width: 600px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
        overflow: hidden;
    }
    
    .nav-container{
        width: 100%;
        height: 50px;
        background-color: #88d498;
        
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .material-icons.md-36 { 
        font-size: 36px;
        margin-left: auto;
     }

     .content-container{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 90%;
        height: 90vh;
        margin-top: 5%;
        gap: 2.5%;
     }
    
     .presentation{
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        width: 100%;
        background-color: white;
        flex: 2;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
     }

     .navigation-buttons-container{
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        background-color: white;
        flex: 1;
        border-radius: 10px;
        
     }
     .nav-btn{
        box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
        width: 80%;
        height: 25%;
        background-color: rgb(208, 255, 207);
        border: 0px;
        /*IDK how troede vh var viewport size, vidst et hack*/
        border-radius: 50vh;
     }
     

     .greetings{
        font-size: 42px;
        color: Black;
        text-align: center;
        
     }
     .under-title{
        margin: 2.5%;
        font-size: 32;
        color: black;
     }

}

@media only screen and (min-width: 768px) {

}