body{
    margin: 0;
}

/*The order of item decide position on html, so navbar is first as it should be displayed on top*/
.item-navbar { 
  grid-area: navbar;
   
}

.item-sidebar { 
  grid-area: sidebar;

  .sidebar-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*maybe change*/
    align-items: center;
    gap: 10px;
    height: 95vh;
    min-width: 300px;
    background-color: #78bb7b;
    border-radius: 0%;
    overflow: hidden;
  }

  /*backgroundcircle for image*/
  .item-circleContainer {
    background: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
  
    .item-profilePic{
      display: block;
      height: 100%;
      position: absolute;
      margin: auto;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
    }
  
  }


  /*.item-circle-picture {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    margin: 100px;
    border-radius:50%;
  }*/
  
}


.item3 { 
  grid-area: main;
}


.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 50px 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navbar navbar navbar navbar navbar navbar"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";
  gap: 2px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /*Done so it only fits in wiewport atm, maybe it should be removed*/
}

.grid-container > div {
  background-color:rgb(255, 242, 242); 
  text-align: center;
  padding: 0 0;
  font-size: 30px;
}

