body{
    margin: 0;
}

/*The order of item decide position on html, so navbar is first as it should be displayed on top*/
.item-navbar { 
  grid-area: navbar;
   
}

.item-sidebar { 
  grid-area: sidebar;

  .sidebar-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*maybe change*/
    align-items: center;
    gap: 10px;
    height: 95vh;
    background-color: #78bb7b;
    border-radius: 0%;
  }

  .item-circle-picture {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    margin: 100px;
    border-radius:50%;
  }
}


.item3 { 
  grid-area: main;
}


.grid-container {
  display: grid;
  grid-template-columns: 500px 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 50px 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navbar navbar navbar navbar navbar navbar"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";
  gap: 2px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /*Done so it only fits in wiewport atm, maybe it should be removed*/
}

.grid-container > div {
  background-color:rgb(255, 242, 242); 
  text-align: center;
  padding: 0 0;
  font-size: 30px;
}

