<div class="about-page-container">
        <div class="about-item">
            <h1 class="about-title">Contact me</h1>
            <span>Feel free to contact me, my contact details are listed below.
            </span>

            <div class="rules-item">    
                <ul class="rules">
                    <li><span style="font-weight:bold;">E-mail: </span> <a href = "mailto:asger.k@hotmail.com?subject = Feedback&body = Message">asger.k@hotmail.com</a></li>
                    <li><span style="font-weight:bold;">Phone: </span> <span>+45 53 38 48 96</span></li>
                    <br>
                    <a href="https://www.linkedin.com/in/asger-jark-kappel-571799221" target="_blank"><img style="width:100px; height:30px;" src="Resources/images/linked-logo.png" alt="Open my linkedIn profile"></a></p>
                </ul>
            </div>
        </div>
    </div>