body{
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

.item-title { 
  grid-area: title;
}

/*The order of item decide position on html, so navbar is first as it should be displayed on top*/
.item-navbar { 
  grid-area: navbar;
   
}

.item-sidebar { 
  grid-area: sidebar;

  .sidebar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

  /*backgroundcircle for image (FUCK WITH FLEXBOX FOR SOME REASON)*/
  /*.item-circleContainer {
    background: rgb(59, 59, 59);
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
  
    .item-profilePic{
      display: block;
      height: 100%;
      position: absolute;
      margin: auto;
      top: -100%;
      right: -100%;
      bottom: -100%;
      left: -100%;
    }
  
  }*/

  .item-pictureCircle{
    width:80%;
    padding-bottom:80%;
    border: solid 3px white;
    border-radius:50%;
    margin-top: 10%;
    display: block;
    overflow: hidden;
    position: relative;
  }

  .item-pictureCircle img{
    width:100%;
    height:100%;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }

  .item-about{
    color: white;
    padding: 10px;
    width: 80%;
    margin: 10px;
    border: 2px solid white;
    font-size: 100%;
  }

  .item-about h5{
    color: white;
    margin-top: 3px;
    margin-bottom: 3px;
    text-decoration: underline;
  }

  .item-about p{
    color: white;
    font-size: 0.57em;
    text-align: left;
  }

  .item-contact{
    color: white;
    padding: 10px;
    width: 80%;
    margin: 10px;
    border: 2px solid white;
    font-size: 100%;
  }

  .item-contact h5{
    margin-top: 3px;
    margin-bottom: 3px;
    text-decoration: underline;
  } 
  .item-contact p{
    line-height: 2.2em;
    font-size: 15px;
    text-align: left;
  } 

  .thick-text{
    font-weight: bold;
    letter-spacing:0.04em;
  }

  .small-linkedIn{
    width: 30%;
    height: 30%;
  }


  /*.item-circle-picture {
    height: 300px;
    width: 300px;
    background-color: #bbb;
    margin: 100px;
    border-radius:50%;
  }*/
  
}

.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "sidebar title title title title title"
    "sidebar main main main main main"
    "sidebar main main main main main"
    "sidebar main main main main main";
  gap: 0px;
  width: 100vw;
  height: 100vh;
  /*overflow:auto; /*Done so it only fits in wiewport atm, maybe it should be removed*/
}

.grid-container > div {
  text-align: center;
  padding: 0 0;
  font-size: 30px;
}

h1{
  color: white;
}

h3{
  color: white;
}

.content_title {
  padding: 5px;
  color: black;
} 

.container_cv.active { 
  grid-area: main;
  display: flex;
  border: white 2px solid;
  border-radius: 10px;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  margin-right: 5%;/*Margin done so i can see border radius on right, below is so the distance looks correct on the left*/
  margin-left: 2.5%;
  height: fit-content;
}

.container_cv{
  display: none;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 98%;
  width: 98%;
  margin: 1%;
  margin-bottom: 0%;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}

/*.fill class is for filling remaining space in container, I honestly do not know why it did not work before*/
.fill {
  flex: 1;
}

.left{
  margin-left: 2.5%;
}

.cv_date{
  color: black;
  margin: 5px;
}

.contentText{
  font-size: 20px;
}

/*For pop-up window*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px); /* Apply blur effect to the backdrop */
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #555;
}

.modal-content img{
  max-width: 100%;
  max-height: 80vh; /* Limit image height to 80% of the viewport height */
  border-radius: 8px;
  margin-top: 15px; /* Add some top margin for spacing */
}

.button_container{
  margin-right: 2.5%;
}

.italic{
  font-style: italic;
}