:root {
    --black: #212121;
    --compliment: #1776f2;
    --main: #f29317;
    --error: #f22517;
    --white: #FAFAFA;

    --background: background-color: #dde1e7;
    --main-font: Arial, Helvetica, sans-serif;
  }
  